form {
  line-height: 20px;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.form-group {
  margin-bottom: 15px;
}
form fieldset .form-group p {
  margin-bottom: 0;
  padding-left: 5px;
  font-family: GalanoGrotesque;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
}
.alert .close {
  font-size: 16px;
}
.alert>p, .alert>ul {
  margin-bottom: 0;
}
.mobile-message {
  text-align: center;
  margin-top: 20px;
  p {
    margin: 0 0 10px;
  }
}