$font-medium: 'GalanoGrotesque';
@import '../../../../../../themes/light/colors';

.link-class-key-form {

}
.link-class-key-form__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 26px;
}
.link-class-key-form__cancel {
  opacity: 0.5;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #2e3b50;
}
