header-text-middle {
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #2e3b50;
  font-family: GalanoGrotesque;
}