.tab-button {
  height: 30px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  text-align: center;
  color: rgba(46, 59, 80, 0.6) !important;
  line-height: 30px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.tab-button.tab-button--active {
  border-radius: 15px;
  background-color: rgba(#1f9aff, 0.1);
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
  text-align: center;
  color: #1f9aff !important;
}