header-text {
  display: block;
  width: 100%;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: -0.7px;
  text-align: center;
  color: #2e3b50;
  font-family: GalanoGrotesque;
}
