.reactions-number {
  padding: 30px;
  box-sizing: border-box;
  background: #fff;
}
.reactions-number__active-dot {
  width: 12px;
  height: 12px;
  background: #1f9aff;
  display: inline-block;
}
.reactions-number__h1 {
  opacity: 0.6;
  font-family: GalanoGrotesque;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #2e3b50;
}
.reactions-number__h2 {
  font-family: GalanoGrotesque;
  font-size: 58px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: -1.8px;
  color: #2e3b50;
}
.reactions-number__top-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.reactions-number__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.reactions-number__right {
  font-family: GalanoGrotesque;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: right;
  color: #2e3b50;
}
.reactions-number__charts {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}