$font-medium: 'GalanoGrotesque';
@import '../../../../../themes/light/colors';

.add-class-confirm {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
}
.add-class-confirm__h1 {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  text-align: center;
  color: #2e3b50;
  margin-top: 42px;
}
.add-class-confirm__year {
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -0.9px;
  text-align: center;
  color: #1f9aff;
  margin-bottom: 125px;
}
.add-class-confirm__back-button {
  position: absolute;
  left: 55px;
  top: 55px;
  opacity: 0.5;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #2e3b50;
  cursor: pointer;
  img {
    margin-right: 10px;
    position: relative;
    bottom: 2px;
  }
}
.add-class-confirm__container {
  text-align: center;
}
.add-class-confirm__classes {
  display: inline-block;
  width: 490px;
}
.add-class-confirm__h2 {
  display: inline-block;
  width: 490px;
  text-align: left;
  opacity: 0.5;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #2e3b50;
}
.add-class-confirm__h3 {
  display: inline-block;
  width: 490px;
  text-align: left;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: -0.7px;
  color: #2e3b50;
  margin: 10px 0;
  b {
    color: #1f9aff;
   }
}
.add-class-confirm__h4 {
  display: inline-block;
  width: 490px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: -0.8px;
  color: rgba(46, 59, 80, 0.6);
  margin-bottom: 30px;
}
.add-class-confirm__buttons {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 26px;
  width: 490px;
}
.add-class-confirm__cancel {
  opacity: 0.5;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #2e3b50;
}
@media (max-width: 1100px) { 
  .add-class-confirm__buttons {
    flex-direction: column;
    button {
      margin-bottom: 30px !important;
    }
  }
  .add-class-confirm__cancel {
    width: 100%;
    margin: 30px 0;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .add-class-confirm__classes,
  .add-class-confirm__buttons,
  .class-item-small__students,
  .class-item-small__count,
  .class-item-small__counts,
  .add-class-confirm__h4,
  .add-class-confirm__h3,
  .add-class-confirm__h2 {
    width: 100% !important;
    text-align: center !important;
  }
  .add-class-confirm__back-button {
    left: 22px !important;
  }
  .add-class-confirm {
    padding: 10px;
  }
}
