.signup_password-form__password-wrapper {
  border-radius: 4px;
  background-color: #f9fafc;
  position: relative;
  margin-bottom: 20px;
  .form-input-text2 {
    margin-bottom: 0px; 
  }
  img {
    position: absolute;
    right: 8px;
    top: 15px;
    cursor: pointer;
  }
}