.parents-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
}
.parents-number-h1 {
  opacity: 0.6;
  font-family: GalanoGrotesque;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #2e3b50;
}
.parents-number-h2 {
  font-family: GalanoGrotesque;
  font-size: 58px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: -1.8px;
  color: #2e3b50;
}
.parents-number__user {
  width: 40px;
  height: 40px;
  border: solid 2.7px #fff;
  background: #fff;
  border-radius: 100%;
  overflow: hidden;
  margin-left: -20px;
  box-sizing: content-box;
  position: relative;
  img {
    width: 40px;
    height: 40px;
  }
}
.parents-number-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 10px;
}
.parents-number__user-add {
  width: 40px;
  height: 40px;
  border: solid 2.7px #fff;
  background: #fff;
  border-radius: 100%;
  overflow: hidden;
  margin-left: -20px;
  box-sizing: content-box;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #1f9aff;
  color: #fff;
  font-size: 22px;
}