.auth-layout {
  &.k-activity {
    background: white;
    display: flex;
    font-family: GalanoGrotesque;
  }
  .k-activity-content.has-advertising {
    width: calc(100% - 370px);
  }
  .k-activity-content {
    display: flex;
    overflow-y: auto;
    height: 100vh;
    position: relative;
  }
  .k-login-form {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .widget-box.no-border {
    border-width: 0;
  }
  .widget-box {
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 3px 0;
    border: 1px solid #CCC;
  }
  .widget-body {
    background-color: #FFF;
  }
  .widget-main {
    padding: 12px;
    line-height: 20px;
  }
  .k-form h1 {
    font-size: 14px;
    color: #2e3b50;
    opacity: 0.3;
    font-family: GalanoGrotesque;
    margin: 5px;
  }
  .k-form h2 {
    font-size: 25px;
    color: #2e3b50;
    font-family: GalanoGrotesque;
    margin: 5px;
    font-weight: normal;
  }
  .k-form h2 b {
    color: #8f63de;
  }
  .k-form h3 {
    color: #2e3b50;
    font-size: 14px;
    opacity: 0.6;
    line-height: 28px;
    font-family: GalanoGrotesque;
    margin-top: 20px;
  }
  
  .m-t {
    margin-top: 15px;
  }
  .k-form form {
    margin-top: 20px;
  }
  
  .block {
    display: block !important;
  }
  .link-white {
    color: #fff;
    text-decoration: underline;
  }
} 

/* Mobile Adaptive */
@media screen and (max-width: 768px) {
  .k-login-form {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 0;
  }
  .btn {
    width: 100%;
  }
}
@media only screen 
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
  #login-box {
    position: relative !important;
    left: 45px !important;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  #login-box {
    form {
      margin-right: 0;
      padding-right: 0;
      width: 100%;
      max-width: unset;
    }
  }
}
