.hr-labeled {
  width: 100%;
  margin-top: 30px;
}
.hr-labeled__label {
  font-family: GalanoGrotesque;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: left;
  color: #1f9aff;
}