.personal-information-form__container {
  padding: 50px 30px 0 30px;
  display: inline-table;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
}
.personal-information-form {
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 30px 30px 30px;
  margin-left: 30px;
  margin-bottom: 70px;
  form {
    width: 100%;
    max-width: 900px;
  }
}
.personal-information-form__header {
  margin-left: 30px;
  margin-bottom: 30px;
}
.personal-information-form__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 26px;
}
.personal-information-form__cancel {
  opacity: 0.5;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
}
@media only screen and (min-width: 1440px)  {
  .personal-information-form {
    width: 960px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .profile-activity__layout {
    .three-grid-layout__center {
      overflow: auto;
      width: 100%;
    }
    .three-grid-layout__center {
      overflow: auto;
      width: 100%;
    }
  }
  .school-information-form__container,
  .personal-information-form__container {
    display: table !important;
    width: 1224px !important;
    min-width: 1224px !important;
    padding-left: 510px !important;
    padding-right: 30px !important;
    margin-bottom: 0;
    height: auto !important;
    margin-bottom: 0 !important;
  }
}