.left-menu-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.5px;
    color: #2e3b50;
    font-family: "GalanoGrotesque";
    text-align: left;
    padding: 0 30px 0 19px;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    border-radius: 5px;
    &:hover {
        text-decoration: none;
        color: #2e3b50;
        background: #e6e6e6;
    }
    &.active {
        background: rgba(31, 154, 255, 0.3);
        color: #1f9aff;
        .icon {
            color: #1f9aff;
        }
        .left-menu-item__count{
            background: #1f9aff !important;
            color:#fff !important;
        }
    }
    .icon {
        color: #c0c4ca;
    }
}
.left-menu-item__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 14px;
    font-size: 20px;
}
.left-menu-item__count {
  width: 40px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 10px;
  line-height: 24px;
  border-radius: 16px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.1px;
  text-align: center;
}
@media (max-width: 1100px) {
    .left-menu-item__name {
        display: none;
    }
  }
  