$color-background: #ffffff;
$color-text-light: #ffffff;
$color-dark-grey-blue: #2e3b50;
$color-clear-blue: #1f9aff;
$color-coral: #f15b5b;
$color-orange: #ffb53a;
$color-purple: #8f63de;
$color-butterscotch: #ffb53a;
$color-page: #f9fafc;
$color-turquoise-blue: #00b7ce;
