.card-slider__item.blue {
  background: #1f9aff;
}
.card-slider__item.purple {
  background: #8f63de;
}
.card-slider__item.coral {
  background: #f15b5b;
}
.card-slider__item.butterscotch {
  background: #ffb53a;
}
.card-slider__item.turquoiseblue {
  background: #00b7ce;
}
.card-slider__item.green {
  background: ßß#46e297;
}