.link-class-header {
  width: 100%;
}
.link-class-header__h1 {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  text-align: center;
  color: #2e3b50;
  margin-top: 42px;
}
.link-class-header__h2 {
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -0.9px;
  text-align: center;
  color: #1f9aff;
  margin-bottom: 88px;
}