$font-medium: 'GalanoGrotesque';
@import '../../../../../themes/light/colors';

.link-class-paths {
  
}
.link-class-paths__unicorn-left {
  position: absolute;
  left: 0;
  bottom: 0;
}
.link-class-paths__unicorn-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
