.round-icon.blue {
  color: #1f9aff;
  background: rgba(#1f9aff, 0.1);
}
.round-icon.purple {
  color: #8f63de;
  background: rgba(#8f63de, 0.1);
}
.round-icon.coral {
  color: #f15b5b;
  background: rgba(#f15b5b, 0.1);
}
.round-icon.butterscotch {
  color: #ffb53a;
  background: rgba(#ffb53a, 0.1);
}
.round-icon.turquoiseblue {
  color: #00b7ce;
  background: rgba(#00b7ce, 0.1);
}
.round-icon.green {
  color: #46e297;
  background: rgba(#46e297, 0.1);
}