.modal-choose-avatar-tabs {

  grid-template-rows:  60px auto;
  grid-template-columns: 1fr;
  height: 100%;

  .modal-choose-avatar-tabs__list_menu{
    overflow-x: auto;
  }

  .modal-choose-avatar-tabs__list {
    padding:0 20px 0 0;
    list-style: none;
    margin: 0;
    white-space: nowrap;
  }
  .modal-choose-avatar-tabs__list-item {
    display: inline-block;
    text-align: center;
    color: #D4D4D4;
    font-weight: bold;
    font-size: 12px;
    padding: 17px 7px 3px 7px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    &.active {
      color: #ff0080;
      border-bottom: 2px solid #ff0080;
    }
  }

  .modal-choose-avatar-tabs__content {
    border: none;
    overflow-y: auto;
    position: relative;
    height: calc(100% - 50px);
  }
  .tab-pane {
    &.active {
      opacity: 1;
      animation: fadein 1s;
    }
  }
}
