body .modal-choose-avatar {
   padding-top: 50px;
  .modal-content {
    background-color: #fff;
  }
  .user-avatar-popup {
    display: flex;
    box-sizing: border-box;
    height: 350px;
  }
  .avatar-list {
    width: 275px;
    text-align: center;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f9fafc;
    max-height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .avatar-validation {
    width: calc(100% - 275px);
    text-align: center;
    padding: 20px;
    padding-top: 40px;
    box-sizing: border-box;
  }
  .current-avatar {
    margin-bottom: 40px;
    img {
      width: 200px;
      height: 200px;
      border-radius: 100px;
    }
  }
  .modal-choose-avatar__header {
    color: #393939;
    margin: 0;
    b {
      color: #1f9aff;
    }
  }
  .modal-choose-avatar__list_menu {
    -webkit-overflow-scrolling: touch;
  }
  .modal-choose-avatar__avatar {
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 30px;
    margin: 6px;
    position: relative;
    display: inline-block;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
}

@media (min-width: 768px) {
  .modal-dialog.modal-choose-avatar {
    width: 600px;
    max-width: 600px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .user-avatar-popup {
    display: flex !important;
    flex-direction: column !important;
    height: auto !important;
  }
  .avatar-list,
  .avatar-validation {
    width: 100% !important;
  }
}