

.k-loader .modal-content {
    margin: auto !important;
    width: 250px !important;
    background: white !important;

}

.k-loading-popup {
    text-align: center;
    padding: 20px;
}
.k-loading-popup p{
    font-family: GalanoGrotesque;
    font-size: 20px;
    padding: 10px;
}

.k-loading-popup img {
    animation-name: teleport;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes teleport {
    0% { opacity: 0; transform: translateX(-60px);}
    50% {opacity: 1; transform: translateX(0px);}
    100% {opacity: 0; transform: translateX(60px);}
}
