.stripe-input__label {
  font-family: GalanoGrotesque;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: left;
  color: #2e3b50;
}
.stripe-input__card {
  border: 1px solid #2c3856;
  padding: 5px;
}